html,
body {
	overflow: hidden;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;

	@include atSmall {
		font-size: 14px;
	}

	@include atMedium {
		font-size: 15px;
	}

	@include atLarge {
		font-size: 16px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
ol,
span {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
}

ul,
ol {
	// list-style: none;
	padding-left: 0;
}

input,
button,
select,
textarea {
	border: none;

	&:focus {
		outline: none !important;
	}
}

::selection {
	background-color: $color-primary;
	color: $color-white;
}

pre {
	overflow-x: auto;
	white-space: break-spaces;
	white-space: -moz-break-spaces;
	white-space: -break-spaces;
	white-space: -o-break-spaces;
	word-wrap: break-word;
	margin: 0px;
	font-family: inherit;
}