.reacho-messenger-frame {

    position: fixed;
    border: none;

    &.collapse {
        height: 200px;
        width: 200px;
    }

    &.bottom.right {
        bottom: 0;
        right: 0;
        width: 500px;
        height: calc(100vh - 100px - 0rem);
    }

    &.bottom.left {
        bottom: 0;
        left: 0;
        width: 500px;
        height: calc(100vh - 100px - 0rem);
    }

}