@mixin atSmall {
	@media screen and (max-width: 576px) {
		@content;
	}
}

@mixin atMedium {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin atLarge {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin atExtralarge {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin atHuge {
	@media screen and (max-width: 1400px) {
		@content;
	}
}

@mixin linkStates($color, $decoration) {
	&:link,
	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: $color;
		text-decoration: $decoration;
	}
}
